---
layout: default
title: Home
url: /index.html
---

<img src="img/2017/10/header-img.jpg" class="img-fluid" alt="Responsive image">

<main class="page-content" aria-label="Content">
  <div class="container">
    <div class="home">
          <div class="row">
              <div class="col-md-6">
                <h4>공지사항 <span class="badge badge-secondary">{{ site.categories.notice | size }}</span><br></h4>
                <hr>
                <ul class="post-list">
                  {% for notice in site.categories.notice %}
                  <li><a href="{{site.baseurl}}{{notice.url}}">{{notice.title}}</a></li>
                  {% endfor %}
                </ul>
              </div>
              <div class="col-md-6">
                <h4>News <span class="badge badge-secondary">{{ site.categories.news | size }}</span><br></h4>
                <hr>
                <ul class="post-list">
                  {% for news in site.categories.news %}
                  <a href="{{site.baseurl}}{{news.url}}">{{news.title}} | <span>{{ page.date | date: "%Y-%m-%d" }}</span></a><br>
                  {% endfor %}
                </ul>
              </div>
            <hr>
    </div>
    <hr>
    <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="img/designhouse.png" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{{site.baseurl}}/img/designhouse.png" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{{site.baseurl}}/img/designhouse.png" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{{site.baseurl}}/img/designhouse.png" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
  </div>
</main>
