<header class="site-header" role="banner">

<div class="container">



<!-- Just an image -->
<nav class="navbar navbar-light">
  <a class="navbar-brand" href="{{site.baseurl}}/index.html">
    <img src="img/2017/10/KHMS-brand.jpg" height="35" alt="">
  </a>
  <ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="/index/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/introduction.html">소개</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/news/">뉴스</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/support.html">고객지원</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
  </ul>
</nav>
</div>
</header>
