<header class="site-header" role="banner">

<div class="container">
<!-- Just an image -->
<nav class="navbar navbar-light">
  <a class="navbar-brand" href="{{site.baseurl}}.index.html">
    <img src="img/2017/10/KHMS-brand.jpg" height="35" alt="">
  </a>
  <ul class="nav justify-content-end">
    {% for page in site.pages %}
    {% if page.title %}
      <li class="nav-item">
        <a class="nav-link active" href="{{ page.url | prepend: site.baseurl }}">{{page.title}}</a>
      </li>
    {% endif %}
    {% endfor %}
  </ul>
</nav>
</div>
</header>
