<header class="site-header" role="banner">

<div class="container">
<!-- Just an image -->
<nav class="navbar navbar-light">
  <a class="navbar-brand" href="{{site.baseurl}}{{index.url}}">
    <img src="{{site.baseurl}}/img/2017/10/KHMS-brand.jpg" height="35" alt="">
  </a>
  <ul class="nav justify-content-end">
    {% assign sorted_pages = site.pages | sort:"order" %}
    {% for page in sorted_pages %}
      <li class="nav-item">
        <a class="nav-link active" href="{{ page.url | prepend: site.baseurl }}">{{page.title}}</a></li>
    {% endfor %}
  </ul>
</nav>
</div>
</header>
